$h-bg-c: #3c3934;
$h-font-c: #bababa;
$h-font: 'Noto Sans', sans-serif;
$h-calc: calc((100vw - (34.375rem * 2 + 1.525rem)) / 2);
$h-pd-card-element: 0.625rem;
$breakpoint-screen: 480px;

%display-flex {
  display: flex;
  flex-direction: column;
}

@mixin font($size, $weight) {
  color: $h-font-c;
  font-family: $h-font;
  font-size: $size;
  font-weight: $weight;
}

@mixin responsive-font($default-size, $responsive-size, $weight) {
  @include font($size: $default-size, $weight: $weight);

  @media (max-width: $breakpoint-screen) {
    @include font($size: $responsive-size, $weight: $weight);
  }
}

html {
  font-size: 16px;
}

.main-heist-hack {
  background-color: $h-bg-c;
  @extend %display-flex;

  a {
    text-decoration: none;
  }

  .header {
    @extend %display-flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.875rem;

    .site-title {
      @include font($size: 4.875rem, $weight: 400);
      margin: 0;
    }

    .site-subtitle {
      @include font($size: 3.625rem, $weight: 400);
      margin: 0;
    }
  }

  .container {
    display: flex;
    gap: 1.525rem;
    justify-content: center;
    flex-wrap: wrap;

    .card {
      flex: 0 1 34.375rem;
      background: #34312d;
      max-width: 34.375rem;
      height: 15.625rem;
      border: solid 0.094rem black;
      border-radius: 0.938rem;
      transition:
        box-shadow 300ms,
        transform;
      box-shadow: -0.313rem 0.313rem 0.313rem black;
      padding: $h-pd-card-element;

      .card-header {
        padding-bottom: $h-pd-card-element;
        @include responsive-font(
          $default-size: 2.125rem,
          $responsive-size: 1.875rem,
          $weight: 400
        );
      }
      .card-content {
        @include responsive-font(
          $default-size: 1.125rem,
          $responsive-size: 1rem,
          $weight: 400
        );
      }
    }

    .card:hover {
      transform: translate(4px, -4px);
      box-shadow: -0.5rem 0.5rem 0.313rem black;
    }

    .truncate-overflow {
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      // find a way to change this webkit-box-orient stuff because it's deprecated
    }
  }
}
